<html>
    <head>
        <meta charset="utf-8">
        <title>Banco | Eliminación</title>
        
        <!-- IMPORTANDO LOS ESTILOS Y JAVASCRIPTS -->
        {{ style('bootstrap.min') }}
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body style="background-color:lightgray;">
        <div class="container">
            <div class="row justify-content-center align-items-center" style="height:100vh">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <form action="" autocomplete="off">
                                <h3 style="text-align:center;">Eliminar Cuentahabiente</h3>
                                <p>Ingresa los datos para eliminar una cuenta de cuentahabiente</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="inputPhone" placeholder="No. de Cuenta">
                                </div>
                                <br />
                                <center><button type="submit" id="buttonSignup" class="btn btn-primary">Eliminar Cuentahabiente</button>
                                </center>
                            </form>
                            
                             <a href="/saldo">SaldoCuentahabiente</a>
                             <a  href="/api/contacts">RegistroCuentahabiente</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>