<html>
    <head>
        <meta charset="utf-8">
        <title>Banco | Registro</title>
        
        <!-- IMPORTANDO LOS ESTILOS Y JAVASCRIPTS -->
        {{ style('bootstrap.min') }}
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body style="background-color:lightgray;">
        <div class="container">
            <div class="row justify-content-center align-items-center" style="height:100vh">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <form action="" autocomplete="off">
                                <h3 style="text-align:center;">Registro de Cuentahabiente</h3>
                                <p>Ingresa los datos para crear una cuenta de cuentahabiente</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="inputName" placeholder="Nombre(s)">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="inputTitle" placeholder="Apellido(s)">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Correo Electrónico">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="inputPhone" placeholder="Teléfono">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="inputPhone" placeholder="Cantidad de apertura (Q.)">
                                </div>        
                                <div class="form-group">
                                    <input type="text" class="form-control" id="inputPhone" placeholder="No. de Cuenta">
                                </div>
                                <br />
                                <button type="submit" id="buttonSignup" class="btn btn-primary">Registrar Cuentahabiente</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>